<div class="card text-white bg-success mb-3" style="max-width: 50rem;">
  <div class="card-body">
    <%= image_tag movie.image.url(:medium) %>
      <div id="<%= dom_id movie %>">
        <p>
          <strong>Title:</strong>
          <%= movie.title %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= movie.description %>
        </p>

      </div>
  </div>
</div>




  