<p style="color: green"><%= notice %></p>
<div class="container">
  <h1 class="text-center">Categories</h1>
    <div id="categories">      
        <% @categories.each do |category| %>
          <%= render category %>                    
            <p>
              <%= link_to "Show this category", category %>
            </p>
        <% end %>
    </div>
</div>

<%= link_to "New category", new_category_path %>




  

