<div id="<%= dom_id review %>">
  <p>
    <strong>Rating:</strong>
    <%= review.ratind %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= review.comment %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user.email %>
  </p>

</div>
